/* осовной цвет текста #212121;
    акцент #2196F3;
    цвет текста-2  #757575;
    белый #FFFFFF;
 */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --btn-color: #ffffff;
  --accent-color: #2196f3;
  --background-section-color: #2f303a;
}

.body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  color: var(--primary-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.button {
  padding: 10px 32px;

  color: var(--btn-color);
  background-color: var(--accent-color);
  border-color: transparent;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #188ce8;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* HEADER */
.header {
  padding-top: 24px;
  padding-bottom: 25px;

  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-wrap {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}

/* Logo */
.logo {
  margin-right: 93px;

  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.web {
  color: var(--accent-color);
}

/* Site Nav */
.site-nav {
  display: flex;
  align-items: center;
}

.header-link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

/* Contacts Nav */
.contacts-nav {
  display: flex;
  margin-left: auto;
}

.contacts-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contacts-item + .contacts-item {
  margin-left: 50px;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--background-section-color);
  text-align: center;
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  padding-top: 30px;
}

/* section */
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.section-subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.16;
}
.subtitle-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* FEATURES */
.features {
  padding-top: 0;
}

.features-title {
  margin-bottom: 50px;
}

.features-wrap {
  display: flex;
}

.features-item {
  width: calc((100% - 90px) / 3);
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

/* ADVANTAGES */

.advantages-descr {
  font-size: 14px;
  text-transform: uppercase;
}

.advantages-list {
  display: flex;
}

.advantages-item {
  width: calc((100% - 120px) / 4);
}

.advantages-item:not(:last-child) {
  margin-right: 30px;
}

/* TEAM */

.team {
  background-color: #f5f4fa;
}
.team-wrap {
  display: flex;
}

.team-item {
  width: calc((100% - 120px) / 4);
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-title {
  margin-bottom: 50px;
}

.team-container {
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: #fff;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member-name {
  font-size: 16px;
}

.team-member-pos {
  font-size: 16px;
}

/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-section-color);
  color: #ffffff;
}

.logo-white {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0;

  color: #ffffff;
  text-decoration: none;
}

.address {
  font-style: normal;
}
.address-link {
  color: #ffffff;
}

.contacts-link-white {
  color: rgba(255, 255, 255, 0.6);
}

.address-item {
  margin-bottom: 9px;
}

/* Projects */
.current-page-link {
  color: var(--accent-color);
}

.projects-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.projects-item + .projects-item {
  margin-left: 8px;
}

.projects-button {
  padding: 6px 22px;

  background-color: #f5f4fa;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.63;
  border-radius: 4px;
}

.projects-button:hover,
.projects-button:focus {
  background-color: var(--accent-color);
  color: var(--btn-color);
}

.projects-name-link {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  color: var(--primary-text-color);
}

.projects-type-link {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}

.projects-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.projects-item-wrap {
  width: calc((100% - 90px) / 3);
  margin: 15px;
}

.projects-content {
  padding: 20px 24px;

  border: 1px solid #eeeeee;
  border-top: none;
}
